/* start your css here */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section{
    border: 50px solid black;
    padding: 50px;
    margin: 30px;
    height: 100vh;
    width: 40vw;
}
.all-div{
    background-color: maroon;
    padding: 10px; 
    height: 98vh;
    box-shadow: 0px 0px 10px rgba(133, 11, 4, 0.963);
}
.first-div{
    background-color:rgb(231, 198, 108);
    height: 30%;
    margin: 18px 40px;
    border-radius: 13px;
    box-shadow: 0px 0px 10px rgba(231, 198, 108, 0.8);
    transform: rotate(-0.8deg);
}
.second-div{
    background-color: brown;
    height: 30%;
    margin: 18px 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(238, 7, 7, 0.538);
}
.third-div{
    background-color: red;
    height: 30%;
    margin: 18px 10px;
    border-radius: 25px 25px 50px 15px ;
    box-shadow: 0px 0px 10px rgba(238, 7, 7, 0.8);
}