/* start your styling here  */
.main-section{
    background-color: rgba(0, 0, 0, 0.81);
    display: grid;
    grid-template-columns: 230px 500px 245px ;
    width: 1000px;
    padding: 15px;
}
.left-section-divs{
    background-color: fuchsia;
    width: 200px;
    height: 110px;
   margin-bottom: 15px;
}
.right-section-lower{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}
.mid-upper-div{
    height: 235px;
    background-color: aqua;
    margin: 0px 15px 15px 0px;
}
.mid-upper-div .mid-lower-div .mid-lower-div-left .left-section-divs {
    background-color: fuchsia;
    width: 200px;
    height: 110px;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0px 0px 0px;
}
.mid-lower-div-right{
    display: grid;
    grid-template-columns: 235px 275px;
    background-color: aqua;
    width: 375px;
    height: 235px;
}
.mid-lower-div{
    display: grid;
    grid-template-columns: 30% 50%;
    grid-gap: 15x;
}