/* start your styling here  */
body{
    background-color: rgba(0, 0, 0, 0.793);
}
.box1{
    background-image: linear-gradient(to bottom left, rgba(242, 11, 119, 0.853), rgba(255, 247, 0, 0.919));
    height: 150px;
}
.box2{
    background-image: linear-gradient(to bottom left, rgb(227, 11, 242), rgba(239, 227, 227, 0.919));
    height: 315px;
}
.box3{
    background-image: linear-gradient(to bottom left, rgba(11, 223, 242, 0.853), rgba(0, 149, 255, 0.919));
    height: 150px;
}
img{
    width: 25px;
}
.img-sec{
    display: flex;
   justify-content: center;
   align-items: center;
}